<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <main id="main" class="main">
      <section class="role-secation overflow-auto">
        <div class="container-fluid">
          <div
            class="row justify-content-between align-items-center border-bottom-coustem gap-y25"
          >
            <div class="col-sm-6">
              <div class="pagetitle">
                <h2>
                  <span><i class="fa-solid fa-arrow-left-long"></i></span>
                  Actions
                </h2>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="dispaly_coustem-type">
                <button
                  type="button"
                  class="button_modal"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Add Action
                </button>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <table
                class="w-100 table table-striped table-bordered table-hover table-responsive"
              >
                <thead class="table_head text-center">
                  <tr>
                    <th width="70">Sr. No.</th>
                    <th width="700">Actions</th>
                  </tr>
                </thead>
                <tbody class="table-body text-center">
                  <% for(let i=0; i < action.length; i++) { %>

                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= action[i].action.toLowerCase() %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>

    <%- include('partials/footer.ejs') %>
  </body>

  <!-- add actions -->

  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5 text-primary" id="exampleModalLabel">
            Add New Role
          </h3>
        </div>
        <div class="modal-body">
          <form id="add_Form">
            <div class="form-main">
              <div class="form-group mb-4">
                <label for="fname" class="mb-2 form_heading">Action : </label>
                <input
                  type="text"
                  id="action_name"
                  class="form-control input_flid"
                  name="action_name"
                  onkeypress=""
                />
              </div>

              <div class="modal-footer">
                <button
                  type="submit"
                  class="button_modal_success"
                  id="add_btn2"
                >
                  Add New
                </button>
                <button type="button" class="btn_close" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const handleAddBtn = async () => {
        const ActionNameInput = document.querySelector("#action_name");
        const actionName = ActionNameInput.value.trim();

        console.log(actionName);

        if (!actionName) {
          alert("Please fill in the action name.");
          return;
        }

        try {
          const response = await fetch("/newactionsadd", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              action: actionName
            })
          });

          if (response.status === 200) {
            window.location.reload();
          }
        } catch (error) {
          console.error("Error:", error);
        }
      };

      const addBtn = document.querySelector("#add_btn2");
      addBtn.addEventListener("click", handleAddBtn);
    });

    function closeModal() {
      window.location.reload();
    }
  </script>

  <script>
    function validateInput(event) {
      var key = event.key;
      var regex = /^[a-zA-Z]+$/;
      if (!regex.test(key)) {
        event.preventDefault();
        alert("Please enter only alphabetic characters.");
      }
    }
  </script>
</html>
