<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <main id="main" class="main">
      <section class="role-secation overflow-auto">
        <div class="container-fluid">
          <div
            class="row justify-content-between align-items-center border-bottom-coustem"
          >
            <div class="col-12">
              <div class="pagetitle">
                <h2>
                  <span><i class="fa-solid fa-arrow-left-long"></i></span> Role
                  List With Permission
                </h2>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <table
                class="w-100 table table-striped table-bordered table-hover table-responsive"
              >
                <thead class="table_head text-center">
                  <tr>
                    <th width="70">Sr. No.</th>
                    <th width="700">Role Name</th>
                    <th width="300">Action</th>
                  </tr>
                </thead>
                <tbody class="table-body text-center">
                  <% if (!resources || resources.length===0) { %>
                  <tr>
                    <td colspan="3" class="text-center">No data available</td>
                  </tr>
                  <% } else { %> <% var counter=1; %> <%
                  resources.forEach((data)=> { %>
                  <tr>
                    <td><%= counter++ %></td>
                    <td><%= data.role_name %></td>
                    <td>
                      <a
                        href="/resourcesview?role=<%= data.role_name %>"
                        class="edit-btn-list"
                        type="button"
                        >View</a
                      >
                    </td>
                  </tr>
                  <% }); %> <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
