<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <main id="main" class="main">
      <section class="role-secation overflow-auto">
        <div class="container-fluid">
          <div
            class="row justify-content-between align-items-center border-bottom-coustem gap-y25"
          >
            <div class="col-sm-6">
              <div class="pagetitle">
                <h2>
                  <span><i class="fa-solid fa-arrow-left-long"></i></span> Roles
                  List
                </h2>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="dispaly_coustem-type">
                <button
                  type="button"
                  class="button_modal"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  Add New
                </button>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <table
                class="w-100 table table-striped table-bordered table-hover table-responsive"
              >
                <thead class="table_head">
                  <tr>
                    <th width="110">Role Id</th>
                    <th width="300">Role Name</th>
                    <th width="700">Inherited Roles</th>
                    <th width="300">Change</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <% if (!roles || roles.length===0) { %> <% } else { %> <%
                  roles.forEach((data,roleId)=> { %>
                  <tr>
                    <td><%= roleId +1 %></td>
                    <td><%= data.role_name.toUpperCase() %></td>
                    <td><%= data.inherits %></td>
                    <td>
                      <button
                        class="edit-btn-list"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrope"
                        onclick="editRole('<%= data.role_name %>', '<%= data._id %>', '<%= JSON.stringify(data.inherits) %>')"
                      >
                        Edit
                      </button>
                    </td>
                  </tr>
                  <% }); %> <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>

    <%- include('partials/footer.ejs') %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5 text-primary" id="exampleModalLabel">
              Add New Role
            </h3>
          </div>
          <div class="modal-body">
            <form id="add_Form">
              <div class="form-main">
                <div class="form-group mb-4">
                  <label for="fname" class="mb-2 form_heading"
                    >Role Name :
                  </label>
                  <input
                    type="text"
                    id="role_name"
                    class="form-control input_flid"
                    name="role"
                    onkeypress=""
                  />
                </div>
                <div>
                  <h6 for="fname" class="ml-3 text-secondary fw-500 fs-18">
                    Inherits :
                  </h6>
                </div>
                <div class="row pt-2 checkboxes-main">
                  <% role.forEach(role=> { %>
                  <div class="d-flex col-sm-6 checkbox-heading">
                    <label for="<%= role.role %>" class="mb-0"
                      ><%= role.role %></label
                    >
                    <input
                      type="checkbox"
                      class="checkbox-adrole ml-2"
                      id="<%= role.role %>"
                      name="<%= role.role %>"
                      value="<%= role.role %>"
                    />
                  </div>
                  <% }); %>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="button_modal_success">
                    Add New
                  </button>
                  <button
                    type="button"
                    class="btn_close"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal -->

    <!-- Modal2 -->
    <div
      class="modal fade"
      id="staticBackdrope"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5 text-primary" id="exampleModalLabel">
              Edit Role
            </h3>
          </div>
          <div class="modal-body">
            <form id="editForm">
              <div class="form-main">
                <div class="form-group mb-4">
                  <label for="fname" class="mb-2 form_heading"
                    >Role Name:</label
                  >
                  <input
                    type="text"
                    id="edit_role"
                    class="form-control input_flid"
                    name="role"
                    value="ADMIN"
                  />
                  <input
                    type="hidden"
                    id="roleId"
                    class="form-control input_flid"
                    name="roleId"
                    placeholder=" "
                    disabled
                  />
                </div>
                <div>
                  <h6 class="ml-3 text-secondary fw-500 fs-18">Inherits:</h6>
                </div>
                <div class="row pt-2 checkboxes-main">
                  <% role.forEach(role=> { %>
                  <div class="d-flex col-sm-6 checkbox-heading">
                    <label for="<%= role.role %>" class="mb-0"
                      ><%= role.role %></label
                    >
                    <input type="checkbox" class="checkbox_inherit
                    checkbox-adrole ml-2"/ id="<%= role.role %>"
                    name="<%=role.role %>" value="<%= role.role %>" />
                  </div>
                  <% }); %>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    id="edit_btn"
                    class="button_modal_success"
                  >
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn_close"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal2 -->
  </body>

  <script>
    const form = document.getElementById("add_Form");
    form.addEventListener("submit", submitHandler);
    function submitHandler(event) {
      event.preventDefault();
      const role = document.querySelector("#role_name").value;
      if (!role) {
        alert("Please fill in the role name");
        return;
      }

      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      const selectedValues = [];

      checkboxes.forEach((checkbox) => {
        console.log(checkbox.checked, checkbox);
        if (checkbox.checked) {
          selectedValues.push(checkbox.value);
        }
      });

      fetch("/addrole", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ role: role, inherits: selectedValues })
      })
        .then((response) => response.json())
        .then((res) => {
          console.log(res, "res");
          if (res.status === "success") {
            alert(res.message);
            window.location.reload();
          } else {
            alert(res.message);
            window.location.reload();
          }
        })
        .catch((error) => {
          console.error("Request failed:", error);
        });
    }
  </script>

  <script>
    function editRole(roleName, id, inherits) {
      document.getElementById("edit_role").value = roleName;
      document.getElementById("roleId").value = id;

      const inheritsArray = JSON.parse(inherits);

      const checkboxes = document.querySelectorAll(".checkbox_inherit");
      checkboxes.forEach((checkbox) => {
        checkbox.disabled = false;
      });

      checkboxes.forEach((checkbox) => {
        checkbox.checked = inheritsArray.includes(checkbox.value);
      });

      checkboxes.forEach((checkbox) => {
        if (checkbox.value === roleName) {
          checkbox.disabled = true;
        }
      });
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("editForm");

      const handleAddBtn1 = async (e) => {
        e.preventDefault();

        const checkboxes = document.querySelectorAll(
          'input[type="checkbox"]:checked'
        );
        const selectedValues = Array.from(checkboxes).map(
          (checkbox) => checkbox.value
        );
        const id = document.querySelector('input[name="roleId"]').value;

        try {
          const response = await fetch(`/editinherits/${id}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ inherits: selectedValues })
          });

          if (response.status === 200) {
            window.location.reload();
          }
        } catch (error) {
          console.error("Error:", error);
        }
      };

      document
        .getElementById("edit_btn")
        .addEventListener("click", handleAddBtn1);
    });
  </script>
</html>
